[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/weaving"]
	path = themes/weaving
	url = https://github.com/michaelboyles/weaving-theme
